name: Build Kernel

env:
    TZ: Asia/Shanghai
    ANDROID_VERSION: 'android15'
    KERNEL_VERSION: '6.6'
    KERNEL_NAME: 'android15-8-g0889fe95bb10-abogki14402178-4k'

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Download Kernel source and build tools
              run: |
                    rm -rf kernel_workspace
                    mkdir kernel_workspace
                    cd kernel_workspace
          
                    sudo apt-mark hold firefox
                    sudo apt-mark hold libc-bin
                    sudo apt purge man-db
                    sudo rm -rf /var/lib/man-db/auto-update
                    sudo apt-get update
                    sudo apt-get install -y --no-install-recommends binutils python-is-python3 libssl-dev libelf-dev ccache

                    echo "Downloading kernel source..."
                    git clone https://github.com/EricLin0509/android_kernel_oneplus_sm8750/ -b 6.6.89 --depth=1 common
                    # Initialize submodules
                    cd common
                    echo "Initializing submodules..."
                    git submodule init
                    git submodule update --depth=1 --recommend-shallow
                    cd ..

                    echo "Downloading build tools..."
                    mkdir -p clang18
                    aria2c -s16 -x16 -k1M https://github.com/cctv18/oneplus_sm8650_toolchain/releases/download/LLVM-Clang18-r510928/clang-r510928.zip -o clang.zip
                    unzip -q clang.zip -d clang18
                    rm -rf clang.zip

                    aria2c -s16 -x16 -k1M https://github.com/cctv18/oneplus_sm8650_toolchain/releases/download/LLVM-Clang18-r510928/build-tools.zip -o build-tools.zip
                    unzip -q build-tools.zip
                    rm -rf build-tools.zip
                    
                    echo "Source code and build tools downloaded."
                    echo "Removing ABI protected exports and -dirty suffix"
                    rm common/android/abi_gki_protected_exports_* || true
                    for f in common/scripts/setlocalversion; do
                        sed -i 's/ -dirty//g' "$f"
                        sed -i '$i res=$(echo "$res" | sed '\''s/-dirty//g'\'')' "$f"
                    done

            - name: Replace Kernel version suffix
              run: |
                    cd kernel_workspace
                    echo "Replacing kernel version suffix..."
                    echo "Current kernel version: ${{ env.KERNEL_NAME }}"
                    for f in ./common/scripts/setlocalversion; do
                        sed -i "\$s|echo \"\\\$res\"|echo \"-${{ env.KERNEL_NAME }}\"|" "$f"
                    done
                    sudo sed -i 's/-4k/-${{ env.KERNEL_NAME }}/g' ./common/arch/arm64/configs/gki_defconfig
                    sed -i 's/${scm_version}//' ./common/scripts/setlocalversion
                    echo "CONFIG_LOCALVERSION_AUTO=n" >> ./common/arch/arm64/configs/gki_defconfig

            - name: Build Kernel
              run: |
                    WORKDIR="$(pwd)"
                    export PATH="/usr/lib/ccache:$PATH"
                    export PATH="$WORKDIR/kernel_workspace/clang18/bin:$PATH"
                    export PATH="$WORKDIR/kernel_workspace/build-tools/bin:$PATH"
                    CLANG_DIR="$WORKDIR/kernel_workspace/clang18/bin"
                    CLANG_VERSION="$($CLANG_DIR/clang --version | head -n 1)"
                    LLD_VERSION="$($CLANG_DIR/ld.lld --version | head -n 1)"
                    echo "Compiler infos:"
                    echo "Clang version: $CLANG_VERSION"
                    echo "LLD version: $LLD_VERSION"
                    pahole_version=$(pahole --version 2>/dev/null | head -n1); [ -z "$pahole_version" ] && echo "pahole version: not installed" || echo "pahole version: $pahole_version"

                    cd kernel_workspace/common
                    echo "Building kernel..."
                    make -j$(nproc --all) LLVM=1 ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- CC="ccache clang" LD="ld.lld" HOSTLD=ld.lld O=out KCFLAGS+=-O2 KCFLAGS+=-Wno-error gki_defconfig &&
                    make -j$(nproc --all) LLVM=1 ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- CC="ccache clang" LD="ld.lld" HOSTLD=ld.lld O=out KCFLAGS+=-O2 KCFLAGS+=-Wno-error Image
